/* estilo.css */

body{
    background-color:lightblue
}

.shoe-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que os divs quebrem para a próxima linha em telas menores */
}

#shoe {
    width: 200px;
    background-color: green;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#shoe img {
    width: 100%;
    height: auto;
}

/* Estilos para o rodapé */
#footer {
    position: fixed;
    background-color: gray;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    
}
